body{
    background-color: rgb(138, 202, 218);
}

header{
    display: flex;
    flex-direction: row-reverse;
}

button {
    border-style: solid;
    background-color: rgb(45, 77, 129);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    display:flex;
    align-items:flex-end;
}
section button{
    margin: auto;
    display: block;

}

section  {
    text-align: center;
}
section h1 {
    font-size: 3em;
    background-color:rgb(104, 130, 173) ;
    margin: auto;
}
h3{
    font-size: 3em;
    background-color: rgb(45, 77, 129);
    margin: auto;
    text-align: center;
}

li{
    font-size: 3em;
    font-style: italic;
}

.hide {
    display: none;
}